.nav-link{
    color: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.Consolas{
    color: white;
}
.Accesorios-uno{
    color: white;
}
.Videojuegos{
    color: white;
}
.Videos{
    color: white;
}