.nav-link{
    color: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.Figuras{
    color: white;
}
.Libros{
    color: white;
}
.Ropa{
    color: white;
}
.Peluches{
    color: white;
}
.title{
    color: white;
}